body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

    #header {
        background-image: url(/images/banner-landscape.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
    }

    #bg-image {
        background-color: rgb(30, 40, 70);
        opacity:0.7;
        height:100%;
        width: 100%;
        position: relative;
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
    }

    #header #bg-image #menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        span {
            display: none;
        }

        .fas { 
            padding: 10px;
        }
    }

    #bg-image #header__content {
        padding: 0 6vw; 
        margin-top: 25%; 
    
        .header__content__bottom 
            .description {
                padding-top: 10px;
                @include uppercase-text-10;
            }
            .start-button {
                @include button;
            }
    }

    #main {
      
        .category-aliquam {
            background-image: url(/images/banner-person.jpg);
            @include category-bg;
        }

        .category-tempus {
            background-image: url(/images/banner-city.jpg);
            @include category-bg;
        }

        .category-magna {
            background-image: url(/images/banner-mountains.jpg);
            @include category-bg;
        }

        .category-ipsum {
            background-image: url(/images/banner-fox.jpg);
            @include category-bg;
        }

        .category-consequat {
            background-image: url(/images/banner-station.jpg);
            @include category-bg;
        }

        .category-etiam {
            background-image: url(/images/banner-camera.jpg);
            @include category-bg; 
        }

        .category-bg-aliquam {
            background-color: rgb(123, 174, 182);
            @include category-color;
        }

        .category-bg-tempus {
            background-color: rgb(129, 127, 187);
            @include category-color;
        }

        .category-bg-magna {
            background-color: rgb(215, 151, 131);
            @include category-color;
        }

        .category-bg-ipsum {
            background-color:rgb(214, 171, 132);
            @include category-color;
        }

        .category-bg-consequat {
            background-color: rgb(129, 153, 210);
            @include category-color;
        }

        .category-bg-etiam {
            background-color: rgb(121, 175, 150);
            @include category-color;
        }

        .category-bg {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .category__info {
                padding-left: 5vw;

                h2 {
                    letter-spacing: 3px;
                }

                hr {
                    border: 1px solid white;
                }

                p {
                    @include uppercase-text-10;
                }
            }  
        }  
    }

    #contact {    
       
        .contact__text {
            background-color: $bg-lighter;
            padding: 4vh 6vw;

            h2 {
                display: inline-block;
                border-bottom: 2px solid white;
                padding-bottom: 20px;
                letter-spacing: 2px;
            }

            .contact__text_p {
                color: $text-darker;
                letter-spacing: 2px;
                line-height: 1.5;
                font-weight: lighter;
            }

            .start-button {
                @include button;
            }
        }

        .contact__form__info__grid .contact__form {
            background-color: $bg-darker;
            padding: 4vh 6vw 7vh 6vw;

            form {
                .contact__form__name,
                .contact__form__email {
                    display: grid;
                    grid-template-columns: 1;
                    grid-template-rows: 20px 40px;
                    grid-gap: 20px;
                    padding-top: 20px;
                    @include uppercase-text-12;
                }

                .contact__form__message {
                    display: grid;
                    grid-template-columns: 1;
                    grid-template-rows: 20px 200px;
                    grid-gap: 20px;
                    padding: 20px 0;
                    letter-spacing: 4px;
                    font-size: 12px;
                    @include uppercase-text-12;
                }


            input,
            textarea {
                background-color: $bg-lighter;
                border: none;
            }
            }

            .button-submit,
            .button-reset {
                padding: 10px 20px;
                letter-spacing: 4px;
                font-size: 12px;
            }

            .button-submit {
                color: $bg-darker;
                margin-right: 10px;
            }

            .button-reset {
                border: 2px solid white;
                color: white;
                background-color: $bg-darker;
            }

        }

        .contact__form__info__grid .contact__info {
            background-color: $bg-darker;

            hr {
                margin: 0;
                border: 1px solid $bg-lighter;
            }

            .contact__info___email,
            .contact__info___phone,
            .contact__info___address {
                padding: 25px 0 25px 6vw;
                display: grid;
                grid-template-columns: 35px 200px;

                .fas {
                    margin-top: 19px;
                }

                div p {
                    color: $text-darker;
                }
            }

        }
    }

    #footer {
        background-color: $bg-darker;
        padding: 0 6vw;

        .footer__icons {
            padding: 30px 0 10px 0;

            .fab {
                padding: 0 5px;
            }
        }

        p {
            padding-bottom: 60px;
            color: $bg-lighter;
        }
    }








