@media screen and (min-width:526px) {

    #header {
        height: 35vh;
    }

    #header #bg-image {
    
        #menu span {
            display: inline;
            @include uppercase-text-12;
        }
    }

    #header #bg-image #header__content {
        margin-top: 5vh;

        .header__content__bottom  .description {
            width: 50vw;
        }
    }

    #main {
        display: grid;
        grid-template-columns:  repeat(2, 50%);
        grid-template-rows: repeat(3, 27vh);
        
        .category {
            height: auto;
        }

        .category-bg {
            height: 27vh;
            background-size: 27vh auto;
        }
    }

    #contact .contact__form__info__grid .contact__form form {
        display: grid;
        grid-template-columns:  repeat(2, 50%);
        grid-gap: 20px;

        .contact__form__message {
            grid-column: 1 / span 2;
            grid-row: 2 / 3;
        }

    }

    

  

}