body {
  margin: 0; }

body {
  color: white;
  font-family: 'Roboto', sans-serif; }

#header {
  background-image: url(images/banner-landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh; }

#bg-image {
  background-color: #1e2846;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: relative; }

#header #bg-image #menu {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  #header #bg-image #menu span {
    display: none; }
  #header #bg-image #menu .fas {
    padding: 10px; }

#bg-image #header__content {
  padding: 0 6vw;
  margin-top: 25%; }
  #bg-image #header__content .header__content__bottom
.description {
    padding-top: 10px;
    font-size: 10px;
    letter-spacing: 4px;
    line-height: 2; }
  #bg-image #header__content .start-button {
    color: white;
    border: 2px solid white;
    background-color: Transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    width: 190px;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: bold; }

#main .category-aliquam {
  background-image: url(images/banner-person.jpg);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#main .category-tempus {
  background-image: url(images/banner-city.jpg);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#main .category-magna {
  background-image: url(images/banner-mountains.jpg);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#main .category-ipsum {
  background-image: url(images/banner-fox.jpg);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#main .category-consequat {
  background-image: url(images/banner-station.jpg);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#main .category-etiam {
  background-image: url(images/banner-camera.jpg);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#main .category-bg-aliquam {
  background-color: #7baeb6;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: relative; }

#main .category-bg-tempus {
  background-color: #817fbb;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: relative; }

#main .category-bg-magna {
  background-color: #d79783;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: relative; }

#main .category-bg-ipsum {
  background-color: #d6ab84;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: relative; }

#main .category-bg-consequat {
  background-color: #8199d2;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: relative; }

#main .category-bg-etiam {
  background-color: #79af96;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: relative; }

#main .category-bg {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  #main .category-bg .category__info {
    padding-left: 5vw; }
    #main .category-bg .category__info h2 {
      letter-spacing: 3px; }
    #main .category-bg .category__info hr {
      border: 1px solid white; }
    #main .category-bg .category__info p {
      font-size: 10px;
      letter-spacing: 4px;
      line-height: 2; }

#contact .contact__text {
  background-color: #2a2f4a;
  padding: 4vh 6vw; }
  #contact .contact__text h2 {
    display: inline-block;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    letter-spacing: 2px; }
  #contact .contact__text .contact__text_p {
    color: #737587;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: lighter; }
  #contact .contact__text .start-button {
    color: white;
    border: 2px solid white;
    background-color: Transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    width: 190px;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: bold; }

#contact .contact__form__info__grid .contact__form {
  background-color: #252a44;
  padding: 4vh 6vw 7vh 6vw; }
  #contact .contact__form__info__grid .contact__form form .contact__form__name,
  #contact .contact__form__info__grid .contact__form form .contact__form__email {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 20px 40px;
    grid-gap: 20px;
    padding-top: 20px;
    font-size: 12px;
    letter-spacing: 4px; }
  #contact .contact__form__info__grid .contact__form form .contact__form__message {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 20px 200px;
    grid-gap: 20px;
    padding: 20px 0;
    letter-spacing: 4px;
    font-size: 12px;
    font-size: 12px;
    letter-spacing: 4px; }
  #contact .contact__form__info__grid .contact__form form input,
  #contact .contact__form__info__grid .contact__form form textarea {
    background-color: #2a2f4a;
    border: none; }
  #contact .contact__form__info__grid .contact__form .button-submit,
  #contact .contact__form__info__grid .contact__form .button-reset {
    padding: 10px 20px;
    letter-spacing: 4px;
    font-size: 12px; }
  #contact .contact__form__info__grid .contact__form .button-submit {
    color: #252a44;
    margin-right: 10px; }
  #contact .contact__form__info__grid .contact__form .button-reset {
    border: 2px solid white;
    color: white;
    background-color: #252a44; }

#contact .contact__form__info__grid .contact__info {
  background-color: #252a44; }
  #contact .contact__form__info__grid .contact__info hr {
    margin: 0;
    border: 1px solid #2a2f4a; }
  #contact .contact__form__info__grid .contact__info .contact__info___email,
  #contact .contact__form__info__grid .contact__info .contact__info___phone,
  #contact .contact__form__info__grid .contact__info .contact__info___address {
    padding: 25px 0 25px 6vw;
    display: grid;
    grid-template-columns: 35px 200px; }
    #contact .contact__form__info__grid .contact__info .contact__info___email .fas,
    #contact .contact__form__info__grid .contact__info .contact__info___phone .fas,
    #contact .contact__form__info__grid .contact__info .contact__info___address .fas {
      margin-top: 19px; }
    #contact .contact__form__info__grid .contact__info .contact__info___email div p,
    #contact .contact__form__info__grid .contact__info .contact__info___phone div p,
    #contact .contact__form__info__grid .contact__info .contact__info___address div p {
      color: #737587; }

#footer {
  background-color: #252a44;
  padding: 0 6vw; }
  #footer .footer__icons {
    padding: 30px 0 10px 0; }
    #footer .footer__icons .fab {
      padding: 0 5px; }
  #footer p {
    padding-bottom: 60px;
    color: #2a2f4a; }

@media screen and (min-width: 526px) {
  #header {
    height: 45vh; }
  #header #bg-image #menu span {
    display: inline;
    font-size: 12px;
    letter-spacing: 4px; }
  #header #bg-image #header__content {
    margin-top: 5%; }
    #header #bg-image #header__content .header__content__bottom .description {
      width: 50vw; }
  #main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 27vh); }
    #main .category {
      height: auto; }
    #main .category-bg {
      height: 27vh;
      background-size: 27vh auto; }
  #contact .contact__form__info__grid .contact__form form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 20px; }
    #contact .contact__form__info__grid .contact__form form .contact__form__message {
      grid-column: 1 / span 2;
      grid-row: 2 / 3; } }

@media only screen and (min-width: 1038px) {
  #header {
    height: 100vh; }
  #header #bg-image #menu {
    padding: 1% 1% 0 0; }
  #header #bg-image #header__content {
    margin-top: 35vh; }
    #header #bg-image #header__content h1 {
      font-size: 55px; }
    #header #bg-image #header__content .header__content__bottom {
      display: grid;
      grid-template-columns: 35% auto auto;
      padding-top: 20px; }
      #header #bg-image #header__content .header__content__bottom .description {
        width: auto; }
  #main {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 60vh); }
    #main .category-bg {
      height: 60vh; }
    #main .category-aliquam,
    #main .category-consequat {
      grid-column: 1 / span 2; }
    #main .category-ipsum {
      grid-column: 4 / span 2; }
    #main .category-tempus,
    #main .category-etiam {
      grid-column: 3 / span 3; }
    #main .category-magna {
      grid-column: 1 / span 3; }
  #contact .contact__form__info__grid {
    display: grid;
    grid-template-columns: 63% auto;
    border-bottom: 2px solid #2a2f4a; }
    #contact .contact__form__info__grid .contact__form {
      border-right: 2px solid #2a2f4a; }
    #contact .contact__form__info__grid .contact__info {
      display: flex;
      flex-direction: column;
      align-content: center; }
      #contact .contact__form__info__grid .contact__info .contact__info___email,
      #contact .contact__form__info__grid .contact__info .contact__info___phone {
        border-bottom: 2px solid #2a2f4a; }
      #contact .contact__form__info__grid .contact__info hr {
        display: none; }
  #footer {
    display: flex;
    justify-content: space-between; }
    #footer .footer__icons, #footer p {
      padding: 0;
      margin: 30px 0; } }
